@model CRUDOperationProject.Controllers.EmployeeController.PaginatedList<CRUDOperationProject.Models.Employee>


<div class="container">

    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Employee List
            </h2>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
            <a class="nav-link text-primary ml-4 py-2 px-3 rounded-pill bg-light" asp-controller="Employee" asp-action="Create" style="font-size: 16px;">
                <i class="bi bi-person-fill-add mr-2"></i>Create New Employee
            </a>
        </div>

       
    </div>

    <form asp-action="Index" method="get">
        <p>
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" />
        </p>
    </form>

    <div class="table-responsive"> 
    <table class="table table-bordered table-striped">

        <thead >
            <tr>
                <th>
                    Sl.No
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSort"]">Name</a>
                 </th>
                <th>
                    Email
                </th>
                <th>
                     <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSort"]">Date of Birth</a>
                 </th>
                <th>
                    Gender
                </th>
                <th>
                    Description
                </th>
                <th>
                    Department
                </th>
                
                <th> </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr><td>
                      @obj.Id
                      
                    </td>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.Email
                    </td>
                    <td>
                        @obj.DateOfBirth
                    </td>
                    <td>
                        @obj.Gender
                    </td>
                    <td>
                        @obj.Description
                    </td>
                    <td>
                        @obj.Department
                    </td>

                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Employee" asp-action="Update" asp-route-id="@obj.Id" class="btn btn-primary mx-2"> 
                                <i class="bi bi-vector-pen"></i> Update
                        </a>
                                <a asp-controller="Employee" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash3"></i> Delete
                        </a>

                                <a asp-controller="Employee" asp-action="View" asp-route-id="@obj.Id" class="btn btn-dark mx-2">
                                    <i class="bi bi-trash3"></i> View
                                </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    </div>

    <div class="pagination">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-sortOrder="@ViewData["CurrentSort"]">Previous</a>
                </li>
                <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-sortOrder="@ViewData["CurrentSort"]">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
